html {
  scroll-behavior: smooth;
}

#fullPage {
  padding-left: 0px;
  padding-right: 0px;
  font-family: 'Adamina', serif;
}

body {
  position: relative;
}
/* ==========================================================================
   NAVIGATION STYLES
========================================================================== */
.fixed-top {
      border-bottom: 3px solid black;
      background-color: white;
      padding-right: 25px;
      padding-left: 25px;
    }

          .navbar-brand {
            font-family: 'Satisfy', cursive;
            font-size: 30px;
          }

/* ==========================================================================
  INTRO SECTION STYLES
========================================================================== */


#intro {
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
}

    #introRow {
      /* background: red; */
      height: 100vh;
      padding-left: 25px;
      padding-right: 25px;
      margin-left: 0px;
      margin-right: 0px;
    }

        #introLS {
          /* background-color: red; */
          padding-top: 59px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

            #LStext {
              margin-bottom: 0px;
            }

        #introRS {
          /* background-color: black; */
          padding-right: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: black;
          padding-top: 59px;
          text-align: center;
        }

            #RStext {
              margin-bottom: 0px;
            }

/* ==========================================================================
  MY JOURNEY SECTION STYLES
========================================================================== */


#myJourney {
  /* background: yellow; */
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
    #myJourneyRow1 {
      height: 125px;
      padding-left: 0px;
      padding-right: 0px;
      /* background-color: purple; */
      position: absolute;
      Top: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-top: 3px solid black;
    }
    .carousel {
      height: 100vh;
      padding-top: 160px;
    }
      .carousel-inner {
        height: 100%;
      }

      .carousel-item {
        height: 100%;
      }

        .carouselPic {
          height: 100%;
          width: 100%;
          object-fit: cover;
          margin: 0 auto;
        }
      .carousel-caption {
        color: black;
        background-color: rgba(250, 250, 250, .5)
      }

      .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

  .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* ==========================================================================
  PROJECTS SECTION STYLES
========================================================================== */

#myProjects {
  /* background: orange; */
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
    #myProjectsRow1 {
      height: 125px;
      padding-left: 0px;
      padding-right: 0px;
      /* background-color: purple; */
      position: absolute;
      Top: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-top: 3px solid black;
    }

    #myProjectsRow2 {
      height: 100vh;
      /* background-color: purple; */
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      z-index: 1;
      padding-top: 125px;
      display: flex;
      align-items: center;
    }
              #projectsSection {
                margin-right: 0px;
                margin-left: 0px;
                justify-content: center;
              }

                .colwrapper {
                  padding-bottom: 15px;
                }
                .card {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    text-align: center;
                    border: 0px solid white;
                    background-color: grey;
                    padding-top: 20px;
                    padding-bottom: 20px;

                }

                #card-image {
                  height:100px;
                }


/* ==========================================================================
  LETS CONNECT SECTION STYLES
========================================================================== */

#letsConnect {
  /* background: orange; */
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

    #letsConnectRow1 {
      height: 125px;
      padding-left: 0px;
      padding-right: 0px;
      /* background-color: purple; */
      position: absolute;
      Top: 0px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-top: 3px solid black;
    }

    #letsConnectRow2 {
      height: 100vh;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      z-index: 1;
      padding-top: 120px;
      padding-bottom: 59px;
    }

        #letsConnectLS {
          background-color: white;
          display: flex;
          flex-direction: column;
        }
          #LStitle {
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          #letsConnectLSp{
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
          }

        #letsConnectRS {
          /* background-color: black; */
          padding-right: 0px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-left: 3px solid black;
        }
            #RStitle {
              height: 30%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            #letsConnectRSform{
              height: 70%;
              display: flex;
              justify-content: center;
              align-items: flex-start;
            }
              form {
                display: flex;
                flex-direction: column;
                /* justify-content: center; */
                padding-right: 20px;
                padding-left: 20px;
                width: 100%;
              }
                  .contactForm {
                    margin-bottom: 20px;
                    border: 3px solid black;
                  }

    footer {
      background: white;
      position: absolute;
      bottom: 0px;
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: 3px solid black;
    }
      #signature {
        margin: 0;
      }
